
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
             
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
          
            <p>No profile picture</p>
            
        
              <div class="card-body">
                    
                      <h3> {{user.username| capitalize}} </h3>
                  
                      <!--Displaying user bio-->
                      
                        <p> {{user.bio}}</p>
                    
                        <p> {{user.username| capitalize}} has no biography </p>
                    
                    
              
            
                <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
                  <input type="file"  name="photo" class="form-control" required>
                  <input type="submit" class="btn btn-success">
                </form>
                  
                 
                   <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
                
      
              </div>
            </div>
       
      
  </div>
  </div>
{% endblock %}